%h1 Listing activities

%table
  %tr
    %th Name
    %th Description
    %th Photo url
    %th Costume
    %th Chronology
    %th Notes
    %th Theme
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.name
      %td= activity.description
      %td= activity.photo_url
      %td= activity.costume
      %td= activity.chronology
      %td= activity.notes
      %td= activity.theme
      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Activity', new_activity_path
